.social-list {
  display: flex;
  position: absolute;
  right: 0;
  bottom: var(--section-padding-sm);
  padding: 1rem 0.5rem;

  ul {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    margin: -0.875rem;

    @include breakpoint($laptop-sm) {
      flex-direction: column;
      justify-content: center;
    }

    li {
      padding: 0.875rem;
    }
  }

  a {
    --active-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--active-color);
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  svg {
    color: inherit;
    transition: var(--transition);
    height: 1.25rem;
    width: auto;
  }

  &.dark a {
    --active-color: var(--black);
  }
}
