.slider {
  // Disables scroll snap on Safari 10.1+ when arrow is clicked, so that the smoothscroll polyfill works
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      &.is-scrolling-by-click {
        scroll-snap-type: none;

        .slider__slide {
          scroll-snap-align: none;
        }
      }
    }
  }

  &:not([data-slider-always-show-arrows]) {
    @media (hover: hover) {
      .slider__inner:hover {
        .slider__arrow {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    @media (hover: none) and (pointer: coarse) {
      .slider__arrow {
        display: none;
      }
    }
  }
}
