:root {
  --slider--slide-width: 100%;
  --slider--slide-gap: 1rem;
}

@screen md {
  :root {
    --slider--slide-width: 50%;
  }
}
@screen lg {
  :root {
    --slider--slide-width: 33.333%;
  }
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  cursor: grab;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  // hide scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  // Disables scroll snap on Safari 10.1+ when arrow is clicked, so that the smoothscroll polyfill works
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      &:global(.is-scrolling-by-click) {
        scroll-snap-type: none;

        .slider__slide {
          scroll-snap-align: none;
        }
      }
    }
  }

  &__col {
    --width-xs: 12;
    --width-md: 10;
    --offset-md: 1;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 0 calc(var(--slider--slide-gap) * 0.5 * -1);
    padding: 0;

    > * {
      scroll-snap-align: center;
    }

    &::after {
      content: '';
      align-self: stretch;
      padding-inline-end: max(
        var(--slider--slide-gap),
        (100vw - 100%) / 2 - var(--slider--slide-gap)
      );
    }
  }

  &__slide {
    padding: 0 calc(var(--slider--slide-gap) * 0.5);
    width: var(--slider--slide-width);
    min-width: var(--slider--slide-width);

    .post-entry {
      padding: 0;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: -1rem; // compensate for svg
  }

  &__arrow {
    font-size: 3rem;
    color: var(--color-accent);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &[disabled] {
      color: var(--color-p);
      opacity: 0.25;
    }
  }

  &:hover,
  &:focus-within {
    .slider__arrow:not([disabled]) {
      opacity: 1;
    }
  }

  &:not([data-slider-always-show-arrows]) {
    @media (hover: hover) {
      .slider__inner:hover {
        .slider__arrow {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    @media (hover: none) and (pointer: coarse) {
      .slider__arrow {
        display: none;
      }
    }
  }
}
