.snackbar {
  position: fixed;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;

  .inner {
    background: hsla(0, 100%, 100%, 0.85);
    backdrop-filter: blur(10px);
    padding: 1rem 2rem 1rem 1rem;
    position: relative;
    border-bottom: 3px solid var(--grey);
    box-shadow: var(--box-shadow);
  }

  &.error {
    .inner {
      border-color: var(--color-error);
    }
    // color: var(--color-error);
  }

  &.success {
    .inner {
      border-color: var(--color-success);
    }
  }

  p {
    color: var(--black);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 0.75;
    color: var(--black);
    transition: var(--transition);

    &:hover {
      color: var(--color-accent);
    }
  }
}
