form {
  width: 100%;
}

input,
textarea,
select {
  font-family: var(--font-primary);
  font-size: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea,
select {
  appearance: none;
  background: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 0;
  padding: 0.75rem 1.25rem !important;
  color: var(--color-p);
  width: 100%;
  transition: var(--transition);
  line-height: 1.5;
  @apply placeholder:text-gray placeholder:transition-opacity focus:placeholder:opacity-75 aria-[invalid=true]:border-error;
}

input[type="date"],
input[type="time"] {
  min-height: 3.25em; /* iOS Safari */
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.75);
  cursor: pointer;
  transition: filter var(--transition);
  @apply hover:invert;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 1rem 0.75rem;
  background-repeat: no-repeat;
}

select:invalid {
  color: var(--gray);
}

textarea {
  resize: vertical;
  height: 9rem;
}

fieldset[aria-invalid="true"] input[type="radio"] + span::before {
  background-color: var(--color-error);
}

.radio-group__radio {
  display: flex;
  flex-flow: wrap;
  margin: -0.5rem;
}

.radio-group__radio > label {
  padding: 0.5rem;
  cursor: pointer;
}

.radio-group__label {
  @apply text-light-gray block mb-1 text-sm;
}

[type="radio"] {
  @apply inline-block p-0 rounded-sm shrink-0 bg-transparent border-[1px] border-solid border-gray bg-no-repeat bg-center appearance-none relative top-[0.125em] mr-[0.75em] text-accent w-[var(--input-radio-checkbox-size)] h-[var(--input-radio-checkbox-size)];
  background-size: 0.5rem 0.5rem;
  @apply rounded-full;
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 16'%3E%3Ccircle cx='8.509' cy='8' r='8' fill='%23e2a93a'/%3E%3C/svg%3E");
}

[type="checkbox"] {
  @apply inline-block p-0 rounded-sm shrink-0 bg-transparent border-[1px] border-solid border-gray bg-no-repeat bg-center appearance-none relative top-[0.125em] mr-[0.75em] text-accent w-[var(--input-radio-checkbox-size)] h-[var(--input-radio-checkbox-size)];
  background-size: 0.75rem 0.75rem;
}

[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23e2a93a' d='M15.479 2.29a1.78 1.78 0 0 1 0 2.518l-8.901 8.901a1.78 1.78 0 0 1-2.518 0L.5 10.15A1.78 1.78 0 0 1 3.017 7.63l2.302 2.302 7.642-7.642a1.78 1.78 0 0 1 2.518 0Z'/%3E%3C/svg%3E");
}

.form-fields {
  display: flex;
  flex-flow: wrap;
  margin: -0.5rem;
}

.form-field {
  position: relative;
  padding: 0.5rem;
  width: 100%;
}

.form-field label span {
  @apply text-sm text-light-gray;
}

.form-field.half {
  @apply md:w-1/2;
}

.form-field.heading {
  @apply mt-6 first:mt-0;
}

.form-field.submit {
  @apply flex justify-end;
}

.form-error {
  color: var(--color-error);
  text-align: right;
  font-size: var(--font-size-small);
  margin-top: 0.25em;
}

.form-description {
  @apply text-sm;
}

.form-description a {
  @apply underline;
}

/* 
fieldset {
  border: 0;
  padding: 0;

  legend {
    line-height: 1.5;
  }
}

input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  + span {
    position: relative;
    padding-left: 1.5em;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1em;
      width: 1em;
      background-color: var(--dark-gray);
      border-radius: 50%;
      top: 0.125em;
      left: 0;
    }

    &::after {
      height: 0.6em;
      width: 0.6em;
      background-color: var(--white);
      top: 0.325em;
      left: 0.2em;
      opacity: 0;
      transform: scale(0);
      transition: var(--transition);
    }
  }

  &:checked + span {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  &:focus-visible + span::before {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
  &[aria-invalid="true"] + span::before {
    background-color: var(--color-error);
  }
}

 */
