@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #2f2f2f;
  --dark-grey: #3f3f3f;
  --gold: #e2a93a;
  --white: #fff;
  --offwhite: #f5f2ed;
  --offwhite-rgb: 245, 242, 237;
  --offwhite-light: #ddd4c5;
  --grey: #a9a9a9;
  --color-p: var(--offwhite);
  --color-p-light: var(--offwhite);
  --color-p-bright: var(--white);
  --color-bg: var(--black);
  --color-accent: var(--gold);
  --color-error: #f05d5e;
  --color-success: #7dce82;
  --transition: 0.35s cubic-bezier(0.77, 0, 0.175, 1);
  --letter-spacing: 0.1rem;
  --section-padding: 2.5rem;
  --section-padding-sm: 1.25rem;
  --font-primary: var(--font-montserrat), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --font-secondary: var(--font-playfair-display), -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  /* --font-size-small: 0.833rem;
  --font-size-h1: 2.074rem;
  --font-size-h2: 1.728rem;
  --font-size-h3: 1.44rem;
  --font-size-h4: 1rem; */

  --font-size-sm: clamp(0.8rem, -0.06vw + 0.81rem, 0.75rem);
  --font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
  --font-size-md: clamp(1.25rem, 0.1vw + 1.23rem, 1.33rem);
  --font-size-lg: clamp(1.56rem, 0.25vw + 1.5rem, 1.78rem);
  --font-size-xl: clamp(1.95rem, 0.49vw + 1.83rem, 2.37rem);
  --font-size-2xl: clamp(2.44rem, 0.85vw + 2.23rem, 3.16rem);
  --font-size-3xl: clamp(3.05rem, 1.37vw + 2.71rem, 4.21rem);

  --p-spacing: 1.5em;

  /* Grid proportions */
  --gutter: 14px;

  /* Container Width */
  --container-width: 90vw;
  --container-padding: 1rem;

  --post-gap: 0.5rem;
  --menu-gap: 0.75rem;
  --menu-gap-v: 0.5rem;
}

@screen sm {
  :root {
    --menu-gap: 1rem;
  }
}

@screen md {
  :root {
    --section-padding: 3rem;
    --section-padding-sm: 1.5rem;
    --font-size-small: 0.8rem;
    --font-size-h1: 2.441rem;
    --font-size-h2: 1.953rem;
    --font-size-h3: 1.563rem;
    --post-gap: 0.5rem;
    --container-padding: 2rem;
  }
}

@screen lg {
  :root {
    --section-padding: 3rem;
    --section-padding-sm: 1.5rem;
    --gutter: 20px;
    --container-width: 95vw;
    --container-padding: 2.5rem;
  }
}

@screen xl {
  :root {
    --section-padding: 5rem;
    --section-padding-sm: 2.5rem;
  }
}

@screen 3xl {
  :root {
    --container-width: 1660px;
    --container-padding: calc((100vw - 1660px) / 2);
  }
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--bg-color);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-p);
    border-radius: 3px;
    @apply hover:bg-gold;
  }
}

body.page-contents {
  --color-bg: var(--offwhite);
}

body.page-contents .header {
  background-color: var(--black);
}

@import './elements/skeleton.css';

@layer utilities {
  .title-line {
    position: relative;
  }

  .title-line::before {
    content: '';
    width: calc(100% - 1rem);
    height: 1px;
    background: var(--grey);
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
